body {
    background-color: black;
}

.calculator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 350px;
    height: 340px;
    box-sizing: border-box;
    background-color : darkred;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 10px;
}

.button {
    background-color: gray;
    min-width: 70px;
    min-height: 50px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border : 1px solid black;
    font-size:24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
}

.visor {
    background-color: white;
    min-width: 315px;
    min-height : 40px;
    cursor: auto;
    text-align: right;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border : 1px solid black;
    font-size:24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
  }

.button_result {
    background-color: gray;
    min-width: 155px;
    min-height: 50px;
    cursor: pointer;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border : 1px solid black;
    font-size:24px;
    font-family: Tahoma, Geneva, sans-serif;
    border-radius: 10px;
}