<!DOCTYPE html>
<html lang="es">

<head>
    <title>Calculadora</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/main.css')}}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png')}}">
	<meta property="og:title" content="Calculadora Basica"/>
	<meta property="og:description" content="Proyecto de aprendizaje en Flask de una calculadora basica, aun sin terminar"/>
	<meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ url_for('home')}}" />
	<meta property="og:image" content="{{ url_for('static', filename='favicon.png')}}" />
</head>

<body>
    <div class="calculator">
        <form action="/" method="POST" , enctype="multipart/form-data">
            <input type="hidden" name="result_2" value="{{ result_2 }}"></input>
            <input type="hidden" name="operation" value="{{ operation }}"></input>
            <input type="hidden" name="resolved" value="{{ resolved }}"></input>
            <div>
                <input class="visor" type="text" name="result_1" value="{{ result_1 }}" readonly></input>
            </div>
            <div class="buttons-1">
                <button class="button" type="submit" name="submit_button" >%</button>
                <button class="button" type="submit" name="submit_button" >C</button>
                <button class="button" type="submit" name="submit_button" value="D">DEL</button>
                <button class="button" type="submit" name="submit_button" value="/">/</button>
            </div>
            <div class="buttons-2">
                <button class="button" type="submit" name="submit_button" value="7">7</button>
                <button class="button" type="submit" name="submit_button" value="8">8</button>
                <button class="button" type="submit" name="submit_button" value="9">9</button>
                <button class="button" type="submit" name="submit_button" value="X">X</button>
            </div>
            <div class="buttons-3">
                <button class="button" type="submit" name="submit_button" value="4">4</button>
                <button class="button" type="submit" name="submit_button" value="5">5</button>
                <button class="button" type="submit" name="submit_button" value="6">6</button>
                <button class="button" type="submit" name="submit_button" value="-">-</button>
            </div>
            <div class="buttons-4">
                <button class="button" type="submit" name="submit_button" value="1">1</button>
                <button class="button" type="submit" name="submit_button" value="2">2</button>
                <button class="button" type="submit" name="submit_button" value="3">3</button>
                <button class="button" type="submit" name="submit_button" value="+">+</button>
            </div>
            <div class="buttons-5">
                <button class="button" type="submit" name="submit_button" value="0">0</button>
                <button class="button" type="submit" name="submit_button" >,</button>
                <button class="button_result" type="submit" name="submit_button" value="=">=</button>
            </div>
        </form>
    </div>
</body>

</html>